<head>
    <link href="~/StyleSheet.css"  rel="stylesheet" />
</head>
<body>
    <div class="content">
        <h1 class="main-title">TIME</h1>
        <p>Enter a year range to list People for those years.</p>
        <form method="post">
            <label for="begYear">Starting Year: </label>
            <input type="number" placeholder="Starting Year" name="begYear" id="begYear" />

            <label for="endYear">Ending Year: </label>
            <input type="number" placeholder="Ending Year" name="endYear" id="endYear" />

            <button type="submit">Get Results!</button>

        </form>
    </div>
</body>
