<head>
    <link href="~/StyleSheet.css" />
</head>
<body>
    <form method="post">
        <label for="startingYear">Starting Year: </label>
        <input type="number" placeholder="Starting Year" name="startingYear" />

        <label for="endingYear">Ending Year: </label>
        <input type="number" placeholder="Ending Year" name="endingYear" />

        <button type="submit">Get Results!</button>

    </form>
</body>
